<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ddit.ddtown.mapper.emp.postManagement.IPostManagementMapper">
 	
 	
 	
 	
 	
 	
 	<resultMap type="kr.or.ddit.vo.community.CommunityPostVO" id="postList">
 		<result property="comuPostNo" column="artist_write_comu_post_no"/>
		<result property="boardTypeCode" column="artist_write_board_type_code"/>
		<result property="comuProfileNo" column="artist_write_comu_profile_no"/>
		<result property="artGroupNo" column="artist_write_art_group_no"/>
		<result property="fileGroupNo" column="artist_write_file_group_no"/>
		<result property="comuPostStatCode" column="artist_write_comu_post_stat_code"/>
		<result property="comuPostContent" column="artist_write_comu_post_content"/>
		<result property="comuPostRegDate" column="artist_write_comu_post_reg_date"/>
		<result property="comuPostModDate" column="artist_write_comu_post_mod_date"/>
		<result property="comuPostMbspYn" column="artist_write_comu_post_mbsp_yn"/>
		<result property="comuPostDelYn" column="artist_write_comu_post_del_yn"/>
		<result property="rnum" column="rnum"/>
		
		<result property="comuPostLike" column="comuPostLike"/>
		<result property="comuPostReplyCount" column="comuPostReplyCount"/>
		
		<collection property="writerProfile" resultMap="artistProfile" />
 	</resultMap>
 	
 	<resultMap type="kr.or.ddit.vo.community.CommunityProfileVO" id="artistProfile">
 		<result property="comuProfileNo" column="artist_pro_comu_profile_no"/>
		<result property="artGroupNo" column="artist_pro_art_group_no"/>
		<result property="memUsername" column="artist_pro_mem_username"/>
		<result property="comuMemCatCode" column="artist_pro_comu_mem_cat_code"/>
		<result property="comuProfileImg" column="artist_pro_comu_profile_img"/>
		<result property="comuNicknm" column="artist_pro_comu_nicknm"/>
		<result property="comuRegDate" column="artist_pro_comu_reg_date"/>
		<result property="comuDelYn" column="artist_pro_comu_del_yn"/>
		
		<collection property="artistVO" resultMap="aritsVO" />
 	</resultMap>
 	
 	<resultMap type="kr.or.ddit.vo.artist.ArtistVO" id="aritsVO">
 		<result property="artDebutdate" column="artist_art_debutdate"/>
		<result property="artDelYn" column="artist_art_del_yn"/>
		<result property="artNo" column="artist_art_no"/>
		<result property="memUsername" column="artist_mem_username"/>
		<result property="artNm" column="artist_art_nm"/>
		<result property="artContent" column="artist_art_content"/>
		<result property="artRegDate" column="artist_art_reg_date"/>
		<result property="artModDate" column="artist_art_mod_date"/>
		<result property="artProfileImg" column="artist_art_profile_img"/>
		
		<collection property="groupVO" resultMap="artistGroup" />
 	</resultMap>
 	
 	<resultMap type="kr.or.ddit.vo.artist.ArtistGroupVO" id="artistGroup">
 		<result property="artGroupRegDate" column="emp_art_group_reg_date"/>
		<result property="artGroupDelYn" column="emp_art_group_del_yn"/>
		<result property="artGroupProfileImg" column="emp_art_group_profile_img"/>
		<result property="artGroupModDate" column="emp_art_group_mod_date"/>
		<result property="artGroupNo" column="emp_art_group_no"/>
		<result property="artGroupTypeCode" column="emp_art_group_type_code"/>
		<result property="empUsername" column="EMP_USERNAME"/>
		<result property="artGroupDebutdate" column="emp_art_group_debutdate"/>
		<result property="artGroupNm" column="emp_art_group_nm"/>
		<result property="artGroupContent" column="emp_art_group_content"/>
		
 	</resultMap>
 	
 	<sql id="search">
 		<if test="searchType != null and searchWord != null">
 			and cpost.comu_post_content like '%'||#{searchWord}||'%'
 		</if>
 	</sql>
 
 	<select id="getPost" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultMap="postList">
 		select c.* 
			from (
			select b.*, rownum as rnum
			from (SELECT 
			    ag.art_group_no	as emp_art_group_no
			  , ag.art_group_type_code as emp_art_group_type_code
			  , ag.emp_username 
			  , ag.art_group_debutdate as emp_art_group_debutdate
			  , ag.art_group_nm as emp_art_group_nm
			  , ag.art_group_content as emp_art_group_content
			  , ag.art_group_reg_date as emp_art_group_reg_date
			  , ag.art_group_del_yn as emp_art_group_del_yn
			  , ag.art_group_profile_img as emp_art_group_profile_img
			  , ag.art_group_mod_date as emp_art_group_mod_date
			  
			  , a.art_no as artist_art_no
			  , a.mem_username as artist_mem_username
			  , a.art_nm as artist_art_nm
			  , a.art_content as artist_art_content
			  , a.art_reg_date as artist_art_reg_date
			  , a.art_mod_date as artist_art_mod_date
			  , a.art_profile_img as artist_art_profile_img
			  , a.art_debutdate as artist_art_debutdate
			  , a.art_del_yn as artist_art_del_yn
			  
			  , cp.comu_profile_no as artist_pro_comu_profile_no
			  , cp.art_group_no as artist_pro_art_group_no
			  , cp.mem_username as artist_pro_mem_username
			  , cp.comu_mem_cat_code as artist_pro_comu_mem_cat_code
			  , cp.comu_profile_img as artist_pro_comu_profile_img
			  , cp.comu_nicknm as artist_pro_comu_nicknm
			  , cp.comu_reg_date as artist_pro_comu_reg_date
			  , cp.comu_del_yn as artist_pro_comu_del_yn
			  
			  , cpost.comu_post_no as artist_write_comu_post_no
			  , cpost.board_type_code as artist_write_board_type_code
			  , cpost.comu_profile_no as artist_write_comu_profile_no
			  , cpost.art_group_no as artist_write_art_group_no
			  , cpost.file_group_no as artist_write_file_group_no
			  , cpost.comu_post_stat_code as artist_write_comu_post_stat_code
			  , cpost.comu_post_content as artist_write_comu_post_content
			  , cpost.comu_post_reg_date as artist_write_comu_post_reg_date
			  , cpost.comu_post_mod_date as artist_write_comu_post_mod_date
			  , cpost.comu_post_mbsp_yn as artist_write_comu_post_mbsp_yn
			  , cpost.comu_post_del_yn as artist_write_comu_post_del_yn
			  
			  , (SELECT count(cl.comu_like_no) FROM community_like cl where cl.comu_post_no = cpost.comu_post_no) comuPostLike
			  , (select count(cr.comu_reply_no) 
			  		from community_reply cr 
			  		where cr.comu_post_no = cpost.comu_post_no) comuPostReplyCount
			  
			FROM artist_group ag inner join artist_group_map agm on(ag.art_group_no = agm.art_group_no)
			                    inner join artist a on(agm.art_no = a.art_no)
			                    INNER join community_profile cp on(a.mem_username = cp.mem_username)
			                    inner join community_post cpost on(cp.comu_profile_no = cpost.comu_profile_no)
			where ag.emp_username = #{empUsername}
			AND   CP.COMU_MEM_CAT_CODE = 'CMCC003'
			<include refid="search" />
			order by cpost.comu_post_reg_date
			)b
			 )c
			where rnum between #{startRow} and #{endRow}
			order by rnum desc
 	</select>
 	
 	<select id="totalRecord" parameterType="String" resultType="int">
 		SELECT 
		   count(cpost.comu_post_no)
		FROM artist_group ag inner join artist_group_map agm on(ag.art_group_no = agm.art_group_no)
		                    inner join artist a on(agm.art_no = a.art_no)
		                    INNER join community_profile cp on(a.mem_username = cp.mem_username)
		                    inner join community_post cpost on(cp.comu_profile_no = cpost.comu_profile_no)
		where ag.emp_username = #{empUsername}
		AND   CP.COMU_MEM_CAT_CODE = 'CMCC003'
		order by cpost.comu_post_reg_date
 	</select>
 	
 	<select id="empArtistList" parameterType="String" resultType="kr.or.ddit.vo.artist.ArtistVO">
 		SELECT
		    a.art_no,
		    a.mem_username,
		    a.art_nm,
		    a.art_content,
		    a.art_reg_date,
		    a.art_mod_date,
		    a.art_profile_img,
		    a.art_debutdate,
		    a.art_del_yn
		FROM
		    artist_group ag
		left join
		    artist_group_map agm on ag.art_group_no = agm.art_group_no
		left join
		    artist a on agm.art_no = a.art_no
		where emp_username = #{empUsername}
		and a.art_del_yn = 'N'
 	</select>
 	
 	<resultMap type="kr.or.ddit.vo.community.CommunityPostVO" id="post">
	    <result property="comuPostNo" column="aritst_post_no"/>
	    <result property="boardTypeCode" column="artist_board_type_code"/>
	    <result property="comuProfileNo" column="artist_profile_no"/>
	    <result property="artGroupNo" column="artist_art_group_no"/>
	    <result property="fileGroupNo" column="artist_file_group_no"/>
	    <result property="comuPostStatCode" column="artist_comu_post_stat_code"/>
	     <result property="comuPostContent" column="artist_comu_post_content"/>
	    <result property="comuPostRegDate" column="artist_comu_post_reg_date"/>
	    <result property="comuPostModDate" column="artist_comu_post_mod_date"/>
	    <result property="comuPostMbspYn" column="artist_comu_post_mbsp_yn"/>
	    <result property="comuPostDelYn" column="artist_comu_post_del_yn"/>
	    <result property="comuPostLike" column="comuPostLike"/>
	
	    <collection property="writerProfile" resultMap="writerInfo" />
		
		<collection property="commCodeDetailVO" resultMap="commCodeDetailVO" />
	</resultMap>
	
	<resultMap type="kr.or.ddit.vo.community.CommunityProfileVO" id="writerInfo">
	    <result property="comuProfileNo" column="writer_comu_profile_no"/>
	    <result property="artGroupNo" column="writer_art_group_no"/>
	    <result property="memUsername" column="writer_mem_username"/>
	    <result property="comuMemCatCode" column="writer_comu_mem_cat_code"/>
	    <result property="comuProfileImg" column="writer_comu_profile_img"/>
	    <result property="comuNicknm" column="writer_comu_nicknm"/>
	    <result property="comuRegDate" column="writer_comu_reg_date"/>
	    <result property="comuDelYn" column="writer_comu_del_yn"/>
	
	    <collection property="artistVO" resultMap="artistVO" />
	</resultMap>
	
	<resultMap type="kr.or.ddit.vo.common.CommonCodeDetailVO" id="commCodeDetailVO">
		<result property="commCodeDetNo" column="post_stat_code_det_no"/>
		<result property="commCodeGrpNo" column="post_stat_code_grp_no"/>
		<result property="commCodeDetNm" column="post_stat_code_det_nm"/>
		<result property="useYn" column="post_stat_code_use_yn"/>
		<result property="description" column="post_stat_code_description"/>
	</resultMap>
	
	<resultMap type="kr.or.ddit.vo.artist.ArtistVO" id="artistVO">
	    <result property="artDebutdate" column="artist_writer_art_debutdate"/>
	    <result property="artDelYn" column="artist_writer_art_del_yn"/>
	    <result property="artNo" column="artist_writer_art_no"/>
	    <result property="memUsername" column="artist_writer_mem_username"/>
	    <result property="artNm" column="artist_writer_art_nm"/>
	    <result property="artContent" column="artist_writer_art_content"/>
	    <result property="artRegDate" column="artist_writer_art_reg_date"/>
	    <result property="artModDate" column="artist_writer_art_mod_date"/>
	    <result property="artProfileImg" column="artist_writer_art_profile_img"/>
	</resultMap>
	
	<select id="selectPost" parameterType="int" resultMap="post">
	    SELECT
	        cpost.comu_post_no                  AS aritst_post_no,
	        cpost.board_type_code               AS artist_board_type_code,
	        cpost.comu_profile_no               AS artist_profile_no,
	        cpost.art_group_no                  AS artist_art_group_no,
	        cpost.file_group_no                 AS artist_file_group_no,
	        cpost.comu_post_stat_code           AS artist_comu_post_stat_code, 
	        cpost.comu_post_content             AS artist_comu_post_content,
	        cpost.comu_post_reg_date            AS artist_comu_post_reg_date,
	        cpost.comu_post_mod_date            AS artist_comu_post_mod_date,
	        cpost.comu_post_mbsp_yn             AS artist_comu_post_mbsp_yn,
	        cpost.comu_post_del_yn              AS artist_comu_post_del_yn,
	
	        cp.comu_profile_no                  AS writer_comu_profile_no,
	        cp.art_group_no                     AS writer_art_group_no,
	        cp.mem_username                     AS writer_mem_username,
	        cp.comu_mem_cat_code                AS writer_comu_mem_cat_code,
	        cp.comu_profile_img                 AS writer_comu_profile_img,
	        cp.comu_nicknm                      AS writer_comu_nicknm,
	        cp.comu_reg_date                    AS writer_comu_reg_date,
	        cp.comu_del_yn                      AS writer_comu_del_yn,
	
	        a.art_no                            AS artist_writer_art_no,
	        a.mem_username                      AS artist_writer_mem_username,
	        a.art_nm                            AS artist_writer_art_nm,
	        a.art_content                       AS artist_writer_art_content,
	        a.art_reg_date                      AS artist_writer_art_reg_date,
	        a.art_mod_date                      AS artist_writer_art_mod_date,
	        a.art_profile_img                   AS artist_writer_art_profile_img,
	        a.art_debutdate                     AS artist_writer_art_debutdate,
	        a.art_del_yn                        AS artist_writer_art_del_yn,
	        
	        (select count(cl.comu_like_no) from community_like cl where cl.comu_post_no = cpost.comu_post_no) as comuPostLike,
	        
	        cdc.comm_code_det_no				AS post_stat_code_det_no,
	        cdc.comm_code_grp_no				AS post_stat_code_grp_no,
	        cdc.comm_code_det_nm				AS post_stat_code_det_nm,
	        cdc.use_yn							AS post_stat_code_use_yn,
	        cdc.description						AS post_stat_code_description
	
	    FROM
	        community_post cpost
	    LEFT JOIN community_profile cp ON cpost.comu_profile_no = cp.comu_profile_no
	    LEFT JOIN artist a ON cp.mem_username = a.mem_username
	    left join common_detail_code cdc on cpost.comu_post_stat_code = cdc.comm_code_det_no
	    
	    WHERE
	        cpost.comu_post_no = #{comuPostNo}
	</select>
 	
 	<resultMap type="kr.or.ddit.vo.community.CommunityReplyVO" id="reply">
 		<result property="comuReplyNo" column="COMU_REPLY_NO"/>
		<result property="comuPostNo" column="COMU_POST_NO"/>
		<result property="boardTypeCode" column="BOARD_TYPE_CODE"/>
		<result property="comuProfileNo" column="COMU_PROFILE_NO"/>
		<result property="comuReplyContent" column="COMU_REPLY_CONTENT"/>
		<result property="comuReplyRegDate" column="COMU_REPLY_REG_DATE"/>
		<result property="comuReplyModDate" column="COMU_REPLY_MOD_DATE"/>
		<result property="comuReplyDelYn" column="COMU_REPLY_DEL_YN"/>
		<result property="artGroupNo" column="ART_GROUP_NO"/>
		<result property="rnum" column="rnum"/>
		
		<collection property="replyMember" resultMap="profile" />
 	</resultMap>
 	
 	<resultMap type="kr.or.ddit.vo.community.CommunityProfileVO" id="profile">
 		<result property="comuProfileNo" column="writer_profile_no"/>
		<result property="artGroupNo" column="writer_art_group_no"/>
		<result property="memUsername" column="writer_mem_username"/>
		<result property="comuMemCatCode" column="writer_comu_mem_cat_code"/>
		<result property="comuProfileImg" column="writer_comu_profile_img"/>
		<result property="comuNicknm" column="writer_comu_nicknm"/>
		<result property="comuRegDate" column="writer_comu_reg_date"/>
		<result property="comuDelYn" column="writer_comu_del_yn"/>
 	</resultMap>
 	
 	<select id="postReplyList" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultMap="reply">
 		select *
		from
			(select a.*, rownum as rnum
			from
				(SELECT
				    cr.comu_reply_no
				  , cr.comu_post_no
				  , cr.board_type_code
				  , cr.comu_profile_no
				  , cr.comu_reply_content
				  , cr.comu_reply_reg_date
				  , cr.comu_reply_mod_date
				  , cr.comu_reply_del_yn
				  , cr.art_group_no
				  
				  , cp.comu_profile_no as writer_profile_no
				  , cp.art_group_no as writer_art_group_no
				  , cp.mem_username as writer_mem_username
				  , cp.comu_mem_cat_code as writer_comu_mem_cat_code
				  , cp.comu_profile_img as writer_comu_profile_img
				  , cp.comu_nicknm as writer_comu_nicknm
				  , cp.comu_reg_date as writer_comu_reg_date
				  , cp.comu_del_yn as writer_comu_del_yn
				  
				  
				FROM
				    community_reply cr left join community_profile cp on cr.comu_profile_no = cp.comu_profile_no
				WHERE cr.comu_post_no = #{comuPostNo}
				<if test="searchWord != null and searchType == ''">
				and (cr.comu_reply_content like '%'||#{searchWord}||'%' or cp.comu_nicknm like '%'||#{searchWord}||'%')
				</if>
				<if test="searchWord != null and searchType == 'content'">
				and cr.comu_reply_content like '%'||#{searchWord}||'%'
				</if>
				<if test="searchWord != null and searchType == 'writer'">
				and cp.comu_nicknm like '%'||#{searchWord}||'%'
				</if>
				order by cr.comu_reply_reg_date
				)a
			)b
		where rnum between #{startRow} and #{endRow}
		order by rnum desc
 	</select>
 	
 	<select id="replyTotalRecord" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultType="int">
 		SELECT
		    COUNT(comu_reply_no)
		FROM
		    community_reply cr left join community_profile cp on cr.comu_profile_no = cp.comu_profile_no
		WHERE cr.COMU_POST_NO = #{comuPostNo}
		<if test="searchWord != null and searchType == ''">
		and (cr.comu_reply_content like '%'||#{searchWord}||'%' or cp.comu_nicknm like '%'||#{searchWord}||'%')
		</if>
		<if test="searchWord != null and searchType == 'content'">
		and cr.comu_reply_content like '%'||#{searchWord}||'%'
		</if>
		<if test="searchWord != null and searchType == 'writer'">
		and cp.comu_nicknm like '%'||#{searchWord}||'%'
		</if>
 	</select>
 </mapper>