<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ddit.ddtown.mapper.community.ICommunityMapper">
 
 	<insert id="registCommunity" parameterType="kr.or.ddit.vo.community.CommunityVO">
 		INSERT INTO community (
		    art_group_no
		    , comu_act_code
		    , comu_nm
		    , comu_content
		) VALUES (
		    #{artGroupNo}
		  , #{comuActCode}
		  , #{comuNm}
		  , #{comuContent}
		)
 	</insert>
 	
 	<update id="deleteCommunity" parameterType="int">
 		UPDATE community
		SET
		    comu_del_yn = 'Y'
		WHERE
	        art_group_no = #{artGroupNo}
 	</update>
 </mapper>