<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.ddtown.mapper.alert.IAlertMapper">
	
	 <resultMap type="kr.or.ddit.vo.alert.AlertVO" id="alertResultMap">
	 	<id property="alertNo" column="ALERT_NO" />
	 	<result property="alertTypeCode" column="ALERT_TYPE_CODE" />
	 	<result property="relatedItemTypeCode" column="RELATED_ITEM_TYPE_CODE" />
	 	<result property="alertContent" column="ALERT_CONTENT" />
	 	<result property="alertUrl" column="ALERT_URL" />
	 	<result property="alertCreateDate" column="ALERT_CREATE_DATE" />
	 	<result property="relatedItemNo" column="RELATED_ITEM_NO" />
	 	<result property="relatedItemChar" column="RELATED_ITEM_CHAR" />
	 	<result property="alertReadYn" column="ALERT_READ_YN" />
	 	<result property="artGroupNo" column="ART_GROUP_NO" />
	 	<result property="artGroupNm" column="ART_GROUP_NM" />
	 	<result property="relatedTargetProfileNo" column="RELATED_TARGET_PROFILE_NO" />
	 	<result property="boardTypeCode" column="ALERT_BOARD_TYPE_CODE" />
	 	<result property="chatChannelNo" column="CHAT_CHANNEL_NO" />
	 </resultMap>
	 
	 <resultMap type="kr.or.ddit.vo.alert.AlertSettingVO" id="alertSettingMap">
	 	<id property="alertTypeCode" column="ALERT_TYPE_CODE"/>
	 	<result property="alertTypeCode" column="ALERT_TYPE_CODE"/>
		<result property="memUsername" column="MEM_USERNAME"/>
		<result property="alertEnabledYn" column="ALERT_ENABLED_YN"/>
		<result property="alertModDate" column="ALERT_MOD_DATE"/>
		<result property="alertDescription" column="DESCRIPTION"/>
	 </resultMap>
	 
	<!--
	ATC001
	ATC002
	ATC003
	ATC004
	-->
	<!-- alert_type_code 가져오기 -->
	<select id="getATCs" resultType="string">
		SELECT
		    comm_code_det_no
		FROM
		    common_detail_code
		WHERE
		    comm_code_grp_no = 'ALERT_TYPE_CODE'
	</select>
	
	 <insert id="insertSetting" parameterType="kr.or.ddit.vo.alert.AlertSettingVO" >
	 	INSERT INTO alert_setting (
		    alert_type_code
		    , mem_username
		) VALUES (
		    #{alertTypeCode}
		  , #{memUsername}
		)
	 </insert>
	
	<insert id="insertAlert" parameterType="kr.or.ddit.vo.alert.AlertVO" useGeneratedKeys="true">
		<selectKey keyProperty="alertNo" resultType="long" order="BEFORE" >
			SELECT ALERT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ALERT (
			alert_no, alert_type_code, related_item_type_code, alert_content, alert_url,
			alert_create_date, related_item_no, related_item_char
		) VALUES (
			#{alertNo}, #{alertTypeCode}, #{relatedItemTypeCode}, #{alertContent}, #{alertUrl},
			#{alertCreateDate}, #{relatedItemNo}, #{relatedItemChar}
		)
	</insert>
	
	<insert id="insertAlertReceiver" parameterType="kr.or.ddit.vo.alert.AlertReceiverVO">
		INSERT INTO ALERT_RECEIVER(
			alert_no, mem_username, alert_get_date, alert_read_yn, alert_del_yn
		) VALUES (
			#{alertNo}, #{memUsername}, #{alertGetDate}, #{alertReadYn}, #{alertDelYn}
		)
	</insert>
	
	<select id="selectAlertsByUsername" parameterType="map" resultMap="alertResultMap">
	SELECT *
	FROM (
	    SELECT FINAL_ALERTS.*, ROWNUM AS RN
	    FROM (
	        SELECT TEMP_ALERTS.* , AG.ART_GROUP_NM
	        FROM (
	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                CP.ART_GROUP_NO AS ART_GROUP_NO,
	                CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
	                CP.BOARD_TYPE_CODE AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            LEFT JOIN COMMUNITY_POST CP ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC001' AND AL.RELATED_ITEM_NO = CP.COMU_POST_NO)
	            LEFT JOIN COMMUNITY_PROFILE CPROF ON (CP.COMU_PROFILE_NO = CPROF.COMU_PROFILE_NO)
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC001'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND CP.ART_GROUP_NO = #{artGroupNo}
	              </if>

	            UNION

	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                CP.ART_GROUP_NO AS ART_GROUP_NO,
	                CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
	                CP.BOARD_TYPE_CODE AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            JOIN COMMUNITY_REPLY CR ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC002' AND AL.RELATED_ITEM_NO = CR.COMU_REPLY_NO)
	            JOIN COMMUNITY_POST CP ON (CR.COMU_POST_NO = CP.COMU_POST_NO)
	            LEFT JOIN COMMUNITY_PROFILE CPROF ON (CP.COMU_PROFILE_NO = CPROF.COMU_PROFILE_NO)
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC002'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND CP.ART_GROUP_NO = #{artGroupNo}
	              </if>

	            UNION

	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                CC.ART_GROUP_NO AS ART_GROUP_NO,
	                CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
	                NULL AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            JOIN CHAT_MESSAGE CM ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC003' AND AL.RELATED_ITEM_NO = CM.CHAT_NO)
	            LEFT JOIN CHAT_CHANNELS CC ON (CM.CHAT_CHANNEL_NO = CC.CHAT_CHANNEL_NO)
	            LEFT JOIN COMMUNITY_PROFILE CPROF ON (CM.USERNAME = CPROF.MEM_USERNAME)
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC003'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND CC.ART_GROUP_NO = #{artGroupNo}
	              </if>

	            UNION

	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                CC.ART_GROUP_NO AS ART_GROUP_NO,
	                CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
	                NULL AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            JOIN LIVE L ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC004' AND AL.RELATED_ITEM_NO = L.LIVE_NO)
	            LEFT JOIN CHAT_CHANNELS CC ON (L.CHAT_CHANNEL_NO = CC.CHAT_CHANNEL_NO)
	            LEFT JOIN COMMUNITY_PROFILE CPROF ON (CC.COMU_PROFILE_NO = CPROF.COMU_PROFILE_NO)
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC004'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND CC.ART_GROUP_NO = #{artGroupNo}
	              </if>

	            UNION

	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                CP.ART_GROUP_NO AS ART_GROUP_NO,
	                CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
	                CP.BOARD_TYPE_CODE AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            JOIN COMMUNITY_LIKE CL ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC005' AND AL.RELATED_ITEM_NO = CL.COMU_LIKE_NO)
	            JOIN COMMUNITY_POST CP ON (CL.COMU_POST_NO = CP.COMU_POST_NO)
	            LEFT JOIN COMMUNITY_PROFILE CPROF ON (CP.COMU_PROFILE_NO = CPROF.COMU_PROFILE_NO)
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC005'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND CP.ART_GROUP_NO = #{artGroupNo}
	              </if>

	            UNION

	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                MD.ART_GROUP_NO AS ART_GROUP_NO,
	                NULL AS RELATED_TARGET_PROFILE_NO,
	                NULL AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            JOIN MEMBERSHIP_DESCRIPTION MD ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC006' AND AL.RELATED_ITEM_NO = MD.MBSP_NO)
	            LEFT JOIN MEMBERSHIP_SUBSCRIPTIONS MS ON (MD.MBSP_NO = MS.MBSP_NO and MS.mem_username = #{memUsername})
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC006'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND MD.ART_GROUP_NO = #{artGroupNo}
	              </if>

	            UNION

	            SELECT DISTINCT
	                AL.ALERT_NO,
	                AL.ALERT_TYPE_CODE,
	                AL.RELATED_ITEM_TYPE_CODE,
	                AL.ALERT_CONTENT,
	                AL.ALERT_URL,
	                AL.ALERT_CREATE_DATE,
	                AL.RELATED_ITEM_NO,
	                AL.RELATED_ITEM_CHAR,
	                AR.ALERT_READ_YN,
	                C.ART_GROUP_NO AS ART_GROUP_NO,
	                CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
	                NULL AS ALERT_BOARD_TYPE_CODE
	            FROM ALERT AL
	            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
	            JOIN CONCERT C ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC007' AND AL.RELATED_ITEM_NO = C.CONCERT_NO)
	            LEFT JOIN COMMUNITY_PROFILE CPROF ON (C.ART_GROUP_NO = CPROF.ART_GROUP_NO AND CPROF.COMU_MEM_CAT_CODE = 'CMCC001')
	            WHERE AR.MEM_USERNAME = #{memUsername}
	              AND AR.ALERT_DEL_YN = 'N'
	              AND AL.ALERT_TYPE_CODE = 'ATC007'
	              <if test="artGroupNo != null and artGroupNo > 0">
	                AND C.ART_GROUP_NO = #{artGroupNo}
	              </if>
	        ) TEMP_ALERTS
	        LEFT JOIN ARTIST_GROUP AG ON (TEMP_ALERTS.ART_GROUP_NO = AG.ART_GROUP_NO)
	        ORDER BY TEMP_ALERTS.ALERT_CREATE_DATE DESC, TEMP_ALERTS.ALERT_NO DESC
	    ) FINAL_ALERTS
	    WHERE ROWNUM &lt;= #{endRow}
	)
	WHERE RN &gt;= #{startRow}
	ORDER BY ALERT_CREATE_DATE DESC, ALERT_NO DESC
	</select>
	
	<select id="getTotalAlertCount" parameterType="map" resultType="int">    
    	SELECT COUNT(*)
        FROM (
            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            LEFT JOIN COMMUNITY_POST CP ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC001' AND AL.RELATED_ITEM_NO = CP.COMU_POST_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC001'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND CP.ART_GROUP_NO = #{artGroupNo}
              </if>

            UNION

            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            JOIN COMMUNITY_REPLY CR ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC002' AND AL.RELATED_ITEM_NO = CR.COMU_REPLY_NO)
            JOIN COMMUNITY_POST CP ON (CR.COMU_POST_NO = CP.COMU_POST_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC002'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND CP.ART_GROUP_NO = #{artGroupNo}
              </if>

            UNION

            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            JOIN CHAT_MESSAGE CM ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC003' AND AL.RELATED_ITEM_NO = CM.CHAT_NO)
            LEFT JOIN CHAT_CHANNELS CC ON (CM.CHAT_CHANNEL_NO = CC.CHAT_CHANNEL_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC003'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND CC.ART_GROUP_NO = #{artGroupNo}
              </if>

            UNION

            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            JOIN LIVE L ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC004' AND AL.RELATED_ITEM_NO = L.LIVE_NO)
            LEFT JOIN CHAT_CHANNELS CC ON (L.CHAT_CHANNEL_NO = CC.CHAT_CHANNEL_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC004'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND CC.ART_GROUP_NO = #{artGroupNo}
              </if>

            UNION

            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            JOIN COMMUNITY_LIKE CL ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC005' AND AL.RELATED_ITEM_NO = CL.COMU_LIKE_NO)
            JOIN COMMUNITY_POST CP ON (CL.COMU_POST_NO = CP.COMU_POST_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC005'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND CP.ART_GROUP_NO = #{artGroupNo}
              </if>

            UNION

            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            JOIN MEMBERSHIP_SUBSCRIPTIONS MS ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC006' AND AL.RELATED_ITEM_NO = MS.MBSP_SUB_NO)
            LEFT JOIN MEMBERSHIP_DESCRIPTION MD ON (MS.MBSP_NO = MD.MBSP_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC006'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND MD.ART_GROUP_NO = #{artGroupNo}
              </if>

            UNION

            SELECT DISTINCT AL.ALERT_NO
            FROM ALERT AL
            JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
            JOIN CONCERT C ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC007' AND AL.RELATED_ITEM_NO = C.CONCERT_NO)
            WHERE AR.MEM_USERNAME = #{memUsername}
              AND AR.ALERT_DEL_YN = 'N'
              AND AL.ALERT_TYPE_CODE = 'ATC007'
              <if test="artGroupNo != null and artGroupNo > 0">
                AND C.ART_GROUP_NO = #{artGroupNo}
              </if>
        )
    </select>
	
	<select id="cntUnreadAlerts" parameterType="string" resultType="int">
		SELECT count(*)
		FROM alert_receiver
		WHERE mem_username = #{memUsername}
		  AND alert_read_yn = 'N'
		  AND alert_del_yn = 'N'
	</select>
	
	<update id="markAsRead">
		UPDATE alert_receiver
		   SET alert_read_yn = 'Y',
		   	   alert_get_date = SYSTIMESTAMP
		 WHERE alert_no = #{alertNo}
		   AND mem_username = #{memUsername}
	</update>
	
	<update id="markAllAsRead" parameterType="string">
		UPDATE alert_receiver
		SET	alert_read_yn = 'Y'
			, alert_del_yn = 'Y'
			, alert_get_date = systimestamp
		WHERE mem_username = #{memUsername}
		  AND alert_del_yn = 'N'	
	</update>
	
	<update id="markAsDeleted">
		UPDATE alert_receiver
		   SET alert_del_yn = 'Y'
		WHERE alert_no = #{alertNo}
		  AND mem_username = #{memUsername}
	</update>
	
	<select id="selectAlertSettings" parameterType="string" resultType="kr.or.ddit.vo.alert.AlertSettingVO">
		SELECT
			als.alert_type_code as alertTypeCode
			, als.mem_username as memUsername
			, als.alert_enabled_yn as alertEnabledYn
			, als.alert_mod_date as alertModDate
			, CDC.DESCRIPTION AS alertDescription
		FROM alert_setting als
		JOIN COMMON_DETAIL_CODE CDC ON (als.ALERT_TYPE_CODE = CDC.COMM_CODE_DET_NO)
		WHERE als.mem_username = #{memUsername}
		  AND CDC.COMM_CODE_GRP_NO = 'ALERT_TYPE_CODE'
		ORDER BY als.ALERT_TYPE_CODE
	</select>
	
	<insert id="insertAlertSetting" parameterType="kr.or.ddit.vo.alert.AlertSettingVO">
		MERGE INTO alert_setting t
		USING (
			SELECT
				#{alertTypeCode} as alert_type_code_src,
				#{memUsername} as mem_username_src,
				#{alertEnabledYn} as alert_enabled_yn_src,
				systimestamp as alert_mod_date_src
			FROM DUAL
		) s
		on (t.mem_username = s.mem_username_src and t.alert_type_code = s.alert_type_code_src)
		WHEN MATCHED THEN
			UPDATE SET
				t.alert_enabled_yn = s.alert_enabled_yn_src,
				t.alert_mod_date = s.alert_mod_date_src
		WHEN NOT MATCHED THEN
			INSERT (alert_type_code, mem_username, alert_enabled_yn, alert_mod_date)
			VALUES (s.alert_type_code_src, s.mem_username_src, s.alert_enabled_yn_src, s.alert_mod_date_src)
	</insert>
	
	 <select id="selectAllAlertTypeCodes" parameterType="string" resultType="string">
        SELECT comm_code_det_no
        FROM common_detail_code
        WHERE comm_code_grp_no = #{commCodeGrpNo} AND use_yn = 'Y'
    </select>
    
    <select id="selectAlertById" parameterType="map" resultMap="alertResultMap">
    	SELECT
    		AL.ALERT_NO,
            AL.ALERT_TYPE_CODE,
            AL.RELATED_ITEM_TYPE_CODE,
            AL.ALERT_CONTENT,
            AL.ALERT_URL,
            AL.ALERT_CREATE_DATE,
            AL.RELATED_ITEM_NO,
            AL.RELATED_ITEM_CHAR,
            AR.ALERT_READ_YN,
            CC.ART_GROUP_NO AS ART_GROUP_NO,
            NULL AS ART_GROUP_NM,
            CPROF.COMU_PROFILE_NO AS RELATED_TARGET_PROFILE_NO,
            NULL AS ALERT_BOARD_TYPE_CODE,
            CC.CHAT_CHANNEL_NO AS CHAT_CHANNEL_NO
        FROM ALERT AL
       	JOIN ALERT_RECEIVER AR ON (AL.ALERT_NO = AR.ALERT_NO)
       	JOIN CHAT_MESSAGE CM ON (AL.RELATED_ITEM_TYPE_CODE = 'ITC003' AND AL.RELATED_ITEM_NO = CM.CHAT_NO)
       	LEFT JOIN CHAT_CHANNELS CC ON (CM.CHAT_CHANNEL_NO = CC.CHAT_CHANNEL_NO)
       	LEFT JOIN COMMUNITY_PROFILE CPROF ON (CM.USERNAME = CPROF.MEM_USERNAME)
       	WHERE AL.ALERT_NO = #{alertNo}
       	  AND AR.MEM_USERNAME = #{memUsername}
       	  AND AR.ALERT_DEL_YN = 'N'
    </select>
</mapper>