<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.ddtown.mapper.goods.IGoodsSearchMapper">
	
	<select id="selectGoodsCount" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultType="int">
		SELECT COUNT(G.goods_no)
		FROM GOODS G
		<where> G.goods_div_code = 'GDC003' 
			<include refid="goodsSearch" /> </where>
	</select>

	<select id="selectGoodsList" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultType="kr.or.ddit.vo.goods.goodsVO">
		SELECT
			b.*
		FROM (
			SELECT
				a.*, ROWNUM as rnum
			FROM (
				SELECT
					G.goods_no, G.goods_nm, G.goods_price, G.goods_reg_date, G.goods_mod_date,
					G.goods_stat_code, G.file_group_no, G.goods_code,
					G.goods_div_code, AG.art_group_nm AS artGroupName,
					CDC.comm_code_det_no AS statusEngKey,
					CDC.description AS statusKorName,

					(SELECT COALESCE(SUM(GS.stock_remain_qty), 0) FROM GOODS_STOCK GS WHERE GS.goods_no = G.goods_no) AS stockRemainQty,
					(SELECT '/upload/' || AFD.file_savepath || '/' || AFD.file_save_nm FROM ATTACHMENT_FILE_DETAIL AFD WHERE AFD.file_group_no = G.file_group_no AND ROWNUM = 1) AS representativeImageUrl
				FROM
					GOODS G
				LEFT JOIN
					ARTIST_GROUP AG ON G.art_group_no = AG.art_group_no
				LEFT JOIN
					COMMON_DETAIL_CODE CDC ON G.goods_stat_code = CDC.comm_code_det_no AND CDC.comm_code_grp_no = 'GOODS_STAT_CODE'
				<where> G.goods_div_code = 'GDC003' 
					<include refid="goodsSearch" /> </where>
				
				ORDER BY
				<choose>
					<when test="searchType == 'mod_desc'"> G.goods_mod_date DESC </when>
					<when test="searchType == 'price_asc'"> G.goods_price ASC </when>
					<when test="searchType == 'price_desc'"> G.goods_price DESC </when>
					<when test="searchType == 'stock_desc'"> stockRemainQty DESC </when>
					<when test="searchType == 'stock_asc'"> stockRemainQty ASC </when>
					<otherwise> G.goods_reg_date DESC </otherwise>
				</choose>
			) a
		) b
		<![CDATA[
		WHERE rnum >= #{startRow} AND rnum <= #{endRow}
		]]>
	</select>
	
	<sql id="goodsSearch">
	    <if test="searchMap != null">
	        <if test="searchMap.statusFilter != null and searchMap.statusFilter != ''">
	            AND G.goods_stat_code = #{searchMap.statusFilter}
	        </if>
	        <if test="searchMap.artGroupNo != null and searchMap.artGroupNo != 0">
	            AND G.art_group_no = #{searchMap.artGroupNo} 
	        </if>
	        <if test="searchMap.searchWord != null and searchMap.searchWord != ''">
	            AND (G.goods_nm LIKE '%' || #{searchMap.searchWord} || '%' OR G.goods_code LIKE '%' || #{searchMap.searchWord} || '%')
	        </if>
	    </if>
	</sql>
	
	<select id="selectGoodsStatusCounts" resultType="map">
	    SELECT
	        CDC.comm_code_det_no AS STATUS_CODE,
	        CDC.description AS STATUS_NAME,
	        NVL(COUNT(G.goods_no), 0) AS COUNT
	    FROM
	        COMMON_DETAIL_CODE CDC
	    LEFT JOIN
	        GOODS G ON CDC.comm_code_det_no = G.goods_stat_code
	    WHERE
	        CDC.comm_code_grp_no = 'GOODS_STAT_CODE'
			AND G.goods_div_code = 'GDC003' GROUP BY
	        CDC.comm_code_det_no, CDC.description
	    ORDER BY
	        CDC.comm_code_det_no ASC, CDC.description ASC
	</select>
	
	<select id="selectUserGoodsList" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultType="kr.or.ddit.vo.goods.goodsVO">
	    SELECT
	        b.*
	    FROM (
	        SELECT
	            a.*, ROWNUM as rnum
	        FROM (
	            SELECT
	                G.goods_no, G.goods_nm, G.goods_price, G.goods_reg_date, G.goods_mod_date,
	                G.goods_stat_code, G.file_group_no, G.goods_code,
	                G.ART_GROUP_NO, AG.art_group_nm AS artGroupName,
	                CDC.comm_code_det_no AS statusEngKey,
	                CDC.description AS statusKorName,
	                G.goods_div_code, 
					(SELECT COALESCE(SUM(GS.stock_remain_qty), 0) FROM GOODS_STOCK GS WHERE GS.goods_no = G.goods_no) AS stockRemainQty,
	                (SELECT '/upload/' || AFD.file_savepath || '/' || AFD.file_save_nm FROM ATTACHMENT_FILE_DETAIL AFD WHERE AFD.file_group_no = G.file_group_no AND ROWNUM = 1) AS representativeImageUrl
	            FROM
	                GOODS G
	            LEFT JOIN
	                ARTIST_GROUP AG ON G.art_group_no = AG.art_group_no
	            LEFT JOIN
	                COMMON_DETAIL_CODE CDC ON G.goods_stat_code = CDC.comm_code_det_no AND CDC.comm_code_grp_no = 'GOODS_STAT_CODE'
	            <where> 
					G.goods_div_code = 'GDC003' 
	                <if test="artGroupNo != null and artGroupNo != 0">
	                   AND G.ART_GROUP_NO = #{artGroupNo}
	                </if>
	                <if test="searchWord != null and searchWord != '' and searchType == 'goodsNm'">
	                   AND G.GOODS_NM LIKE '%' || #{searchWord} || '%'
	                </if>
	            </where>
	
	            ORDER BY
	            <choose>
	                <when test="searchType == 'popularity'">
	                    G.GOODS_REG_DATE DESC </when>
	                <when test="searchType == 'priceLowHigh'">
	                    G.GOODS_PRICE ASC
	                </when>
	                <when test="searchType == 'priceHighLow'">
	                    G.GOODS_PRICE DESC
	                </when>
	                <otherwise> G.GOODS_REG_DATE DESC
	                </otherwise>
	            </choose>
	        ) a
	    ) b
	    <![CDATA[
	    WHERE rnum >= #{startRow} AND rnum <= #{endRow}
	    ]]>
	</select>
	
	<select id="selectUserGoodsListCount" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultType="int">
	    SELECT COUNT(G.goods_no)
	    FROM GOODS G
	    <where> 
			G.goods_div_code = 'GDC003' 
	        <if test="artGroupNo != null and artGroupNo != 0">
	            AND G.ART_GROUP_NO = #{artGroupNo}
	        </if>
	        <if test="searchWord != null and searchWord != '' and searchType == 'goodsNm'">
	            AND G.GOODS_NM LIKE '%' || #{searchWord} || '%'
	        </if>
	    </where>
	</select>
	
	<select id="getTotalGoodsCount" resultType="int">
        SELECT COUNT(GOODS_NO) FROM GOODS
		WHERE GOODS_DIV_CODE = 'GDC003' 
	</select>
	
	<select id="selectGoodsStockCounts" resultType="map">
	    SELECT
	        STOCK_CATEGORY,
	        COUNT(GOODS_NO) AS COUNT_VALUE
	    FROM (
	        SELECT
	            G.GOODS_NO,
	            COALESCE(SUM(GS.STOCK_REMAIN_QTY), 0) AS TOTAL_STOCK_QTY,
	            CASE
	                WHEN COALESCE(SUM(GS.STOCK_REMAIN_QTY), 0) = 0 THEN 'SOLD_OUT'    -- 품절 (0개)
	                WHEN COALESCE(SUM(GS.STOCK_REMAIN_QTY), 0) BETWEEN 1 AND 100 THEN 'LOW_STOCK' -- 재고 부족 (1~100개)
	                WHEN COALESCE(SUM(GS.STOCK_REMAIN_QTY), 0) BETWEEN 101 AND 500 THEN 'NORMAL_STOCK' -- 재고 보통 (101~500개)
	                WHEN COALESCE(SUM(GS.STOCK_REMAIN_QTY), 0) BETWEEN 501 AND 5000 THEN 'AMPLE_STOCK' -- 재고 충분 (501~5000개)
	                ELSE 'OVERWHELMING_STOCK' -- 재고 매우 많음 (5001개 이상)
	            END AS STOCK_CATEGORY
	        FROM
	            GOODS G
	        LEFT JOIN
	            GOODS_STOCK GS ON G.GOODS_NO = GS.GOODS_NO
	        WHERE
	            G.GOODS_DIV_CODE = 'GDC003' -- 굿즈 상품만 대상으로
	        GROUP BY
	            G.GOODS_NO -- 각 상품 번호별로 재고 합계를 구함
	    ) SubQuery
	    GROUP BY
	        STOCK_CATEGORY
	    ORDER BY
	        CASE
	            WHEN STOCK_CATEGORY = 'SOLD_OUT' THEN 1
	            WHEN STOCK_CATEGORY = 'LOW_STOCK' THEN 2
	            WHEN STOCK_CATEGORY = 'NORMAL_STOCK' THEN 3
	            WHEN STOCK_CATEGORY = 'AMPLE_STOCK' THEN 4
	            WHEN STOCK_CATEGORY = 'OVERWHELMING_STOCK' THEN 5
	        END ASC
	</select>
</mapper>