<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.ddtown.mapper.admin.notice.AdminNoticeMapper">
	
	<resultMap type="kr.or.ddit.vo.corporate.notice.NoticeVO" id="adminNoticeMap">
		<result property="entNotiNo" column="ENT_NOTI_NO"/>
		<result property="empUsername" column="EMP_USERNAME"/>
		<result property="fileGroupNo" column="FILE_GROUP_NO"/>
		<result property="entNotiTitle" column="ENT_NOTI_TITLE"/>
		<result property="entNotiContent" column="ENT_NOTI_CONTENT"/>
		<result property="entNotiRegDate" column="ENT_NOTI_REG_DATE"/>
		<result property="entNotiModDate" column="ENT_NOTI_MOD_DATE"/>
		<collection property="attachmentList" resultMap="FileDetailMap"></collection>
	</resultMap>
	
	<resultMap type="kr.or.ddit.vo.file.AttachmentFileDetailVO" id="FileDetailMap">
		<result property="attachDetailNo" column="ATTACH_DETAIL_NO"/>
		<result property="fileGroupNo" column="FILE_GROUP_NO"/>
		<result property="fileOriginalNm" column="FILE_ORIGINAL_NM"/>
		<result property="fileSaveNm" column="FILE_SAVE_NM"/>
		<result property="fileSavepath" column="FILE_SAVEPATH"/>
		<result property="fileUseYn" column="FILE_USE_YN"/>
		<result property="fileExt" column="FILE_EXT"/>
		<result property="fileMimeType" column="FILE_MIME_TYPE"/>
		<result property="fileFancysize" column="FILE_FANCYSIZE"/>
		<result property="fileSaveDate" column="FILE_SAVE_DATE"/>
	</resultMap>
	
	<sql id="searchConditions">
		<where>
			<if test="searchWord != null and searchWord != ''">
				AND ENT_NOTI_TITLE LIKE '%' || #{searchWord} || '%'
			</if>
		</where>
	</sql>
	
	<select id="selectTotalRecord" parameterType="kr.or.ddit.vo.PaginationInfoVO">
		select 
				count(*)
		from
				enter_notice
		<include refid="searchConditions"></include>
	</select>
	
	<select id="selectNoticeList" parameterType="kr.or.ddit.vo.PaginationInfoVO">
		SELECT *
        FROM (
            SELECT
                ent_noti_no,
                emp_username,
                file_group_no,
                ent_noti_title,
                ent_noti_content,
                ent_noti_reg_date,
                ent_noti_mod_date,
                ROWNUM AS rnum_alias_for_paging_only  
            FROM (
                SELECT
                    ent_noti_no, emp_username, file_group_no,
                    ent_noti_title, ent_noti_content,
                    ent_noti_reg_date, ent_noti_mod_date
                FROM ENTER_NOTICE
                <include refid="searchConditions"/>
        		ORDER BY ent_noti_reg_date DESC, ent_noti_no DESC 
        	) inner_query
        ) outer_query
        <![CDATA[
        WHERE rnum_alias_for_paging_only BETWEEN #{startRow} AND #{endRow}
        ]]>
	</select>

	<select id="getDetail" parameterType="int" resultMap="adminNoticeMap">
		SELECT
	        EN.ent_noti_no          
	      , EN.emp_username        
	      , EN.file_group_no       
	      , EN.ent_noti_title    
	      , EN.ent_noti_content   
	      , EN.ent_noti_reg_date  
	      , EN.ent_noti_mod_date  
	      , AFD.attach_detail_no  
	      , AFD.file_original_nm   
	      , AFD.file_save_nm     
	      , AFD.file_savepath      
	      , AFD.file_ext          
	      , AFD.file_mime_type     
	      , AFD.file_fancysize      
	      , AFD.file_save_date    
	    FROM
	        enter_notice EN
	    LEFT JOIN
	        attachment_file_detail AFD ON EN.file_group_no = AFD.file_group_no
	    WHERE
	        EN.ent_noti_no = #{entNotiNo}
	    ORDER BY
	        AFD.attach_detail_no ASC 
	</select>
	
	<insert id="insertNotice" parameterType="kr.or.ddit.vo.corporate.notice.NoticeVO"
		useGeneratedKeys="true" keyProperty="entNotiNo">
		<selectKey keyProperty="entNotiNo" resultType="int" order="BEFORE">
			select enter_notice_seq.nextval from dual
		</selectKey>
		INSERT INTO enter_notice (
			ent_noti_no
		    , emp_username
		    , file_group_no
		    , ent_noti_title
		    , ent_noti_content
		    , ent_noti_reg_date
		    , ent_noti_mod_date
		) VALUES ( 
			#{entNotiNo}
		    , #{empUsername}
		    , #{fileGroupNo}
		    , #{entNotiTitle}
		    , #{entNotiContent}
		    , sysdate
		    , sysdate
		)
	</insert>

	<delete id="deleteNotice" parameterType="int">
		delete from enter_notice
		where ENT_NOTI_NO = #{id}
	</delete>
	
	<update id="modifyNotice" parameterType="kr.or.ddit.vo.corporate.notice.NoticeVO">
		UPDATE enter_notice
		SET
		    ent_noti_title = #{entNotiTitle},
		    file_group_no = #{fileGroupNo},
		    ent_noti_content = #{entNotiContent},
		    ent_noti_mod_date = sysdate
		    
		WHERE
		    ent_noti_no = #{entNotiNo}
	</update>
	
	<update id="updateNoticeFileGroupToNull" parameterType="int">
		update enter_notice
		set
			file_group_no = NULL
		where
			ent_noti_no = #{entNotiNo}
	</update>
	
	<select id="selectRecentList" resultType="kr.or.ddit.vo.corporate.notice.NoticeVO">
		SELECT
			*
		FROM
			ENTER_NOTICE
		ORDER BY
			ENT_NOTI_REG_DATE DESC
	</select>
	
	<select id="getTotalNoticeCnt">
		SELECT
			COUNT(*)
		FROM
			ENTER_NOTICE
	</select>
	
	<select id="getGongjiPrefixCnt">
		SELECT
			COUNT(*)
		FROM
			ENTER_NOTICE
		WHERE
			ENT_NOTI_TITLE LIKE '[공지]%'
	</select>
	
	<select id="getAnnaePrefixCnt">
		SELECT
			COUNT(*)
		FROM
			ENTER_NOTICE
		WHERE
			ENT_NOTI_TITLE LIKE '[안내]%'
	</select>

</mapper>