<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ddit.ddtown.mapper.emp.edms.IEdmsMapper">

 	<resultMap type="kr.or.ddit.vo.edms.EdmsVO" id="edmsMap">
		<id property="edmsNo" column="EDMS_NO"/>
		<result property="edmsNo" column="EDMS_NO"/>
		<result property="formNo" column="FORM_NO"/>
		<result property="fileGroupNo" column="FILE_GROUP_NO"/>
		<result property="edmsStatCode" column="EDMS_STAT_CODE"/>
		<result property="edmsTitle" column="EDMS_TITLE"/>
 		<result property="edmsContent" column="EDMS_CONTENT"/>
		<result property="edmsManageNo" column="EDMS_MANAGE_NO"/>
		<result property="empUsername" column="EMP_USERNAME"/>
		<result property="edmsReqDate" column="EDMS_REQ_DATE"/>
		<result property="edmsUrgenYn" column="EDMS_URGEN_YN"/>
		<result property="empName" column="emp_name"/>
		<result property="formNm" column="form_nm"/>

		<collection property="approverList" resultMap="approverMap"/>
		<collection property="referenceList" resultMap="referenceMap"/>
		<collection property="fileList" resultMap="fileMap"/>
 	</resultMap>

 	<resultMap type="kr.or.ddit.vo.edms.ApproverVO" id="approverMap">
 		<id property="apvNo" column="APV_NO"/>
 		<result property="apvNo" column="APV_NO"/>
		<result property="empUsername" column="approver_EMP_USERNAME"/>
		<result property="edmsNo" column="EDMS_NO"/>
		<result property="apvStatCode" column="APV_STAT_CODE"/>
		<result property="apvRejectReason" column="APV_REJECT_REASON"/>
		<result property="apvResDate" column="APV_RES_DATE"/>
		<result property="apvSec" column="APV_SEC"/>
		<result property="empName" column="approver_emp_name"/>
		<result property="empPositionCode" column="approver_emp_position_code"/>
		<result property="empPositionNm" column="approver_emp_position_nm"/>
		<result property="empDepartNm" column="approver_emp_depart_nm"/>
 	</resultMap>

 	<resultMap type="kr.or.ddit.vo.edms.ReferenceVO" id="referenceMap">
		<result property="edmsNo" column="EDMS_NO"/>
 		<result property="empUsername" column="reference_EMP_USERNAME"/>
 		<result property="empName" column="reference_emp_name"/>
 		<result property="empPositionCode" column="reference_emp_position_code"/>
		<result property="empPositionNm" column="reference_emp_position_nm"/>
		<result property="empDepartNm" column="reference_emp_depart_nm"/>
 	</resultMap>
	<resultMap type="kr.or.ddit.vo.file.AttachmentFileDetailVO" id="fileMap">
		<result property="attachDetailNo" column="ATTACH_DETAIL_NO"/>
		<result property="fileGroupNo" column="FILE_GROUP_NO"/>
		<result property="fileOriginalNm" column="FILE_ORIGINAL_NM"/>
		<result property="fileSaveNm" column="FILE_SAVE_NM"/>
		<result property="fileSavepath" column="FILE_SAVEPATH"/>
		<result property="fileExt" column="FILE_EXT"/>
		<result property="fileMimeType" column="FILE_MIME_TYPE"/>
		<result property="fileFancysize" column="FILE_FANCYSIZE"/>
		<result property="fileSaveDate" column="FILE_SAVE_DATE"/>
	</resultMap>

 	<sql id="searchTitle">
 		<if test="searchWord != null and searchType == 'title'">
 			and (edms_title like '%' || #{searchWord} || '%')
 		</if>
 		<if test="searchWord != null and searchType == 'approval'">
 			and peo_last_nm || peo_first_nm like '%'||#{searchWord}||'%'
 		</if>
 		<if test="searchWord == '' and edmsStatCode != 'all' and edmsStatCode != 'approver' and edmsStatCode != 'reference'">
        	and e.edms_stat_code = #{edmsStatCode}
        </if>
 	</sql>

 	<select id="getFormList" resultType="kr.or.ddit.vo.edms.EdmsFormVO">
 		select FORM_NO
 		, FORM_NM
 		, FORM_TYPE_CODE
 		, FORM_CONTENT
 		from form
 		order by form_no
 	</select>

 	<select id="getForm" parameterType="int" resultType="kr.or.ddit.vo.edms.EdmsFormVO">
 		select FORM_NO
 		, FORM_NM
 		, FORM_TYPE_CODE
 		, FORM_CONTENT
 		from form
 		where form_no = #{formNo}
 	</select>

 	<update id="updateForm" parameterType="kr.or.ddit.vo.edms.EdmsFormVO">
 		update form
 		set
 			form_content = #{formContent}
 		where
 			form_no = #{formNo}
 	</update>

 	<select id="getDepartList" resultType="kr.or.ddit.vo.edms.EdmsCommVO">
 		SELECT
		    comm_code_det_no
		  , comm_code_grp_no
		  , comm_code_det_nm
		  , use_yn
		  , description
		FROM
		    common_detail_code
		WHERE
			comm_code_grp_no = 'EMP_DEPART_CODE'
		order by comm_code_det_no desc
 	</select>

 	<select id="getEmpList" parameterType="string" resultType="kr.or.ddit.vo.user.EmployeeVO">
 		SELECT
		    emp_username
		  , emp_depart_code
		  , emp_position_code
		  , emp_reg_date
		  , emp_end_date
		  , (select description from common_detail_code where emp_depart_code = comm_code_det_no) as emp_depart_nm
		  , (select description from common_detail_code where emp_position_code = comm_code_det_no) as emp_position_nm
		  , peo_last_nm || peo_first_nm as peoName
		FROM
		    employee emp,
		    people p
		where
			emp.emp_username = p.username
		and
			emp_depart_code = #{empDepartCode}
		order by emp_position_code desc
 	</select>

 	<select id="selectApprovalBoxList" parameterType="map" resultType="kr.or.ddit.vo.edms.EdmsVO">
 		select b.*
		from (select a.*, row_number() over(order by a.edms_no desc) as rnum
		  from
		        (SELECT
				    edms_no
				  , form_no
				  , emp_username
				  , file_group_no
				  , edms_stat_code
				  , edms_title
				  , edms_req_date
				  , edms_urgen_yn
				  , edms_content
				  , edms_manage_no
				  , peo_last_nm || peo_first_nm as emp_name
				FROM
				    edms e,
		    		people p
				where
					e.emp_username = p.username
				and
					emp_username = #{empUsername}
				<include refid="searchTitle" />
				ORDER BY edms_no desc
				) a
			)b
		<![CDATA[
			where b.rnum >= #{startRow} and b.rnum <= #{endRow}
		]]>
 	</select>

 	<select id="selectTotalRecord" parameterType="map" resultType="int">
	 	SELECT
	        COUNT(*)
	    FROM (
	        SELECT
	            e.edms_no
	        FROM
	            edms e
	        LEFT JOIN
	            approver a ON (e.edms_no = a.edms_no)
	        LEFT JOIN
	            reference r ON (e.edms_no = r.edms_no)
	        INNER JOIN
	            people p ON (e.emp_username = p.username)
	        WHERE 1=1
	        <if test="location == 'request'">
	            AND (a.emp_username = #{empUsername} OR r.emp_username = #{empUsername})
	            AND NOT (e.edms_stat_code = 'ESC004' AND EXISTS (SELECT 1 FROM approver sub_a WHERE sub_a.edms_no = e.edms_no AND sub_a.apv_sec = 2))
	        </if>
	        <if test="location == 'approval'">
	            AND e.emp_username = #{empUsername}
	        </if>
	        <include refid="searchTitle"/>
	        GROUP BY e.edms_no
	    ) a
 	</select>

 	<select id="selectApproval" parameterType="int" resultMap="edmsMap">
 		SELECT
		    e.edms_no
		  , e.form_no
		  , e.emp_username
		  , e.file_group_no
		  , e.edms_stat_code
		  , e.edms_title
		  , e.edms_req_date
		  , e.edms_urgen_yn
		  , e.edms_content
		  , e.edms_manage_no
		  , ( select peo_last_nm || peo_first_nm from people p where e.emp_username = p.username ) as emp_name
		  , a.apv_no
		  , a.emp_username as approver_emp_username
		  , a.edms_no
		  , a.apv_stat_code
		  , a.apv_reject_reason
		  , a.apv_res_date
		  , a.apv_sec
		  , ( select peo_last_nm || peo_first_nm from people p where a.emp_username = p.username ) as approver_emp_name
		  ,	app_emp.emp_position_code as approver_emp_position_code
		  ,	app_cdc.description as approver_emp_position_nm
		  , ( select description from common_detail_code cdc where app_emp.emp_depart_code = cdc.comm_code_det_no) as approver_emp_depart_nm
		  , r.emp_username as reference_emp_username
  		  , r.edms_no
  		  , ( select peo_last_nm || peo_first_nm from people p where r.emp_username = p.username ) as reference_emp_name
		  ,	ref_emp.emp_position_code as reference_emp_position_code
		  ,	ref_cdc.description as reference_emp_position_nm
		  , ( select description from common_detail_code cdc where ref_emp.emp_depart_code = cdc.comm_code_det_no) as reference_emp_depart_nm
		  , f.form_nm
		  , afd.attach_detail_no
		  , afd.file_group_no
		  , afd.file_original_nm
		  , afd.file_save_nm
		  , afd.file_savepath
		  , afd.file_ext
		  , afd.file_mime_type
		  , afd.file_fancysize
		  , afd.file_save_date
		FROM
		    edms e
		left join approver a on(e.edms_no = a.edms_no)
		left join reference r on(e.edms_no = r.edms_no)
		left join employee app_emp on (a.emp_username = app_emp.emp_username)
		left join common_detail_code app_cdc on(app_emp.emp_position_code = app_cdc.comm_code_det_no)
		left join employee ref_emp on (r.emp_username = ref_emp.emp_username)
		left join common_detail_code ref_cdc on(ref_emp.emp_position_code = ref_cdc.comm_code_det_no)
		left join form f on(e.form_no = f.form_no)
		left join attachment_file_detail afd on (e.file_group_no = afd.file_group_no)
		where
			e.edms_no = #{edmsNo}
 	</select>

 	<update id="updateApproval" parameterType="kr.or.ddit.vo.edms.EdmsVO">
 		UPDATE edms
		SET
		      form_no = #{formNo}
		    , emp_username = #{empUsername}
		    , file_group_no = #{fileGroupNo}
		    , edms_stat_code = #{edmsStatCode}
		    , edms_title = #{edmsTitle}
		    , edms_urgen_yn = #{edmsUrgenYn}
		    , edms_content = #{edmsContent}
		WHERE
	        edms_no = #{edmsNo}
 	</update>

	<delete id="removeApprover" parameterType="int">
		DELETE FROM approver
		WHERE
			edms_no = #{edmsNo}
	</delete>

	<insert id="addApprover" parameterType="kr.or.ddit.vo.edms.ApproverVO">
		INSERT INTO approver (
		    apv_no
		    , emp_username
		    , edms_no
		    , apv_stat_code
		    , apv_sec
		) VALUES (
		    APPROVER_SEQ.nextval
		  , #{empUsername}
		  , #{edmsNo}
		  , 'ASC001'
		  , #{apvSec}
		)
	</insert>

	<delete id="removeReference" parameterType="int">
		DELETE FROM reference
		WHERE
			edms_no = #{edmsNo}
	</delete>

	<insert id="addReference" parameterType="kr.or.ddit.vo.edms.ReferenceVO">
		INSERT INTO reference (
		    emp_username
		    , edms_no
		) VALUES (
		    #{empUsername}
		  , #{edmsNo}
		)
	</insert>

	<insert id="insertApproval" parameterType="kr.or.ddit.vo.edms.EdmsVO" useGeneratedKeys="true">
		<selectKey keyProperty="edmsNo" resultType="int" order="BEFORE">
			select edms_seq.nextval from dual
		</selectKey>
		INSERT INTO edms (
		    edms_no
		    , form_no
		    , emp_username
		    <if test="fileGroupNo != 0">
		    , file_group_no
		    </if>
		    , edms_stat_code
		    , edms_title
		    , edms_req_date
		    , edms_urgen_yn
		    , edms_content
		    , edms_manage_no
		) VALUES (
		    #{edmsNo}
		  , #{formNo}
		  , #{empUsername}
		    <if test="fileGroupNo != 0">
		  , #{fileGroupNo}
		    </if>
		  , #{edmsStatCode}
		  , #{edmsTitle}
		  , sysdate
		  , #{edmsUrgenYn}
		  , #{edmsContent}
		  , to_char(sysdate,'YYYY')||'-'||to_char(#{edmsNo},'FM00000')
		)
	</insert>

	<select id="selectApprovalRequestList" parameterType="map" resultType="kr.or.ddit.vo.edms.EdmsVO">
		select b.*
		from (select a.*, row_number() over(order by a.edms_stat_code, a.edms_urgen_yn desc, a.EDMS_REQ_DATE desc) as rnum
		  from
		        (SELECT
				    e.edms_no
				  , e.form_no
				  , e.emp_username
				  , e.file_group_no
				  , e.edms_stat_code
				  , e.edms_title
				  , e.EDMS_REQ_DATE
				  , e.edms_urgen_yn
				  , e.edms_content
				  , e.edms_manage_no
				  , peo_last_nm || peo_first_nm as emp_name
				  , (select count(sub_a.edms_no) from approver sub_a where e.edms_no = sub_a.edms_no and sub_a.emp_username = #{empUsername} ) as approver_cnt
				FROM
				    edms e
				inner join
					people p on (e.emp_username = p.username)
				where
					<choose>
						<when test="searchWord == '' and edmsStatCode == 'approver'">
							e.edms_no in (
									select
										a.edms_no
									from
										approver a
									where
										a.emp_username = #{empUsername}
							)
						</when>
						<when test="searchWord == '' and edmsStatCode == 'reference'">
							e.edms_no in (
									select
										r.edms_no
									from
										reference r
									where
										r.emp_username = #{empUsername}
							)
						</when>
						<otherwise>
							e.edms_no in (
									select
										a.edms_no
									from
										approver a
									where
										a.emp_username = #{empUsername}
									union
									select
										r.edms_no
									from
										reference r
									where
										r.emp_username = #{empUsername}
							)
						</otherwise>
					</choose>
				and
					not (e.edms_stat_code = 'ESC004'
							and exists(
									select
										1
									from
										approver sub_a
									where
										sub_a.edms_no = e.edms_no
									and
										sub_a.apv_sec=2
									and
										sub_a.apv_stat_code = 'ASC001'
								)
						)
				<include refid="searchTitle" />
				order by e.edms_stat_code, e.edms_urgen_yn desc, e.EDMS_REQ_DATE desc
				) a
			)b
		<![CDATA[
			where b.rnum >= #{startRow} and b.rnum <= #{endRow}
		]]>
			order by approver_cnt desc
	</select>

	<select id="selectApprovalReferenceList" parameterType="map" resultType="kr.or.ddit.vo.edms.EdmsVO">
		select b.*
		from (select a.*, row_number() over(order by a.edms_stat_code, a.edms_urgen_yn desc, a.EDMS_REQ_DATE desc) as rnum
		  from
		        (SELECT
				    e.edms_no
				  , e.form_no
				  , e.emp_username
				  , e.file_group_no
				  , e.edms_stat_code
				  , e.edms_title
				  , e.EDMS_REQ_DATE
				  , e.edms_urgen_yn
				  , e.edms_content
				  , e.edms_manage_no
				  , peo_last_nm || peo_first_nm as emp_name
				FROM
				    edms e
				left join
					reference a on(e.edms_no = a.edms_no)
				inner join
					people p on (e.emp_username = p.username)
				where
					a.emp_username = #{empUsername}
				<include refid="searchTitle" />
				order by e.edms_stat_code, e.edms_urgen_yn desc, e.EDMS_REQ_DATE desc
				) a
			)b
		<![CDATA[
			where b.rnum >= #{startRow} and b.rnum <= #{endRow}
		]]>
	</select>

	<update id="updateApprovalReject" parameterType="kr.or.ddit.vo.edms.ApproverVO">
		UPDATE edms
		SET
		    edms_stat_code = 'ESC004'
		WHERE
	        edms_no = #{edmsNo}
	</update>

	<update id="updateAPProverReject" parameterType="kr.or.ddit.vo.edms.ApproverVO">
		UPDATE approver
		SET
		      apv_stat_code = 'ASC004'
		    , apv_reject_reason = #{apvRejectReason}
		    , apv_res_date = sysdate
		WHERE
		    emp_username = #{empUsername}
	    AND
		    edms_no = #{edmsNo}
	</update>

	<update id="updateAPProverApprove" parameterType="kr.or.ddit.vo.edms.ApproverVO">
		UPDATE approver
		SET
		      apv_stat_code = 'ASC003'
		WHERE
		    emp_username = #{empUsername}
	    AND
		    edms_no = #{edmsNo}
	</update>

	<update id="updateApprovalApprove" parameterType="kr.or.ddit.vo.edms.ApproverVO">
		UPDATE edms
		SET
		    edms_stat_code = case when edms_stat_code = 'ESC001' then 'ESC002'
		    					  else 'ESC003'
		    				 end
		WHERE
	        edms_no = #{edmsNo}
	</update>

	<update id="withdrawEdms" parameterType="int">
		UPDATE edms
		SET
		    edms_stat_code = 'ESC005'
		WHERE
	        edms_no = #{edmsNo}
	</update>
	<update id="withdrawEdmsApproval" parameterType="int">
		UPDATE approver
		SET
		    apv_stat_code = 'ASC002'
		WHERE
	    	edms_no = #{edmsNo}
	</update>

	<select id="selectSummaryMap" parameterType="string">
		select
		      total.count as totalcnt
		    , approve.count as approveCnt
		    , reject.count as rejectCnt
		    , prog.count as progCnt
		    , pend.count as pendCnt
		    , withdraw.count as withdrawCnt
		from
		    (
		        select
		            count(edms_no) as count
		        from
		            edms
		        where
		            emp_username = #{empUsername}
		    )total,
		    (
		        select
		            count(edms_no) as count
		        from
		            edms
		        where
		            emp_username = #{empUsername}
		        and
		            edms_stat_code = 'ESC003'
		    )approve,
		    (
		        select
		            count(edms_no) as count
		        from
		            edms
		        where
		            emp_username = #{empUsername}
		        and
		            edms_stat_code = 'ESC004'
		    )reject,
		    (
		        select
		            count(edms_no) as count
		        from
		            edms
		        where
		            emp_username = #{empUsername}
		        and
		            edms_stat_code = 'ESC002'
		    )prog,
		    (
		        select
		            count(edms_no) as count
		        from
		            edms
		        where
		            emp_username = #{empUsername}
		        and
		            edms_stat_code = 'ESC001'
		    )pend,
		    (
		        select
		            count(edms_no) as count
		        from
		            edms
		        where
		            emp_username = #{empUsername}
		        and
		            edms_stat_code = 'ESC005'
		    )withdraw
	</select>

	<select id="selectSummaryMapRequest" parameterType="string">
		select
		      total.count as totalcnt
		    , approve.count as approveCnt
		    , reject.count as rejectCnt
		    , prog.count as progCnt
		    , pend.count as pendCnt
		    , app.count as approverCnt
		    , ref.count as referenceCnt
		from
			(
			    select
				    app.count + ref.count as count
				from
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            approver a on (e.edms_no = a.edms_no)
				        where
				            a.emp_username = #{empUsername}
				    )app,
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            reference r on (e.edms_no = r.edms_no)
				        where
				            r.emp_username = #{empUsername}
				    )ref
			)total,
		    (
			    select
				    app.count + ref.count as count
				from
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            approver a on (e.edms_no = a.edms_no)
				        where
				            a.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC003'
				    )app,
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            reference r on (e.edms_no = r.edms_no)
				        where
				            r.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC003'
				    )ref
			)approve,
		    (
			    select
				    app.count + ref.count as count
				from
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            approver a on (e.edms_no = a.edms_no)
				        where
				            a.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC004'
				    )app,
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            reference r on (e.edms_no = r.edms_no)
				        where
				            r.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC004'
				    )ref
			)reject,
		    (
			    select
				    app.count + ref.count as count
				from
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            approver a on (e.edms_no = a.edms_no)
				        where
				            a.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC002'
				    )app,
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            reference r on (e.edms_no = r.edms_no)
				        where
				            r.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC002'
				    )ref
			)prog,
		    (
			    select
				    app.count + ref.count as count
				from
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            approver a on (e.edms_no = a.edms_no)
				        where
				            a.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC001'
				    )app,
				    (
				        select
				            count(e.edms_no) as count
				        from
				            edms e
				        left join
				            reference r on (e.edms_no = r.edms_no)
				        where
				            r.emp_username = #{empUsername}
				        and
				            e.edms_stat_code = 'ESC001'
				    )ref
			)pend,
		    (
		        select
		            count(e.edms_no) as count
		        from
		            edms e
		        inner join
		        	approver a on (e.edms_no = a.edms_no)
		        where
		            a.emp_username = #{empUsername}
		    )app,
		    (
		        select
		            count(e.edms_no) as count
		        from
		            edms e
		       	inner join
		       		reference r on (e.edms_no = r.edms_no)
		        where
		            r.emp_username = #{empUsername}
		    )ref
	</select>

 </mapper>